.slider.slider-horizontal .tooltip.tooltip-main.in,
         .slider.slider-vertical .tooltip.tooltip-main.in 
         { opacity: .7 !important; background: transparent; }
         .slider-wrapper{
         margin-top:25px;
         }
         @font-face {
         font-family: Glober;
         font-weight: semibold;
         src: url('../Glober-SemiBold.otf');
         }
         .axis text {
         font-family: Glober;
         font-size: 14px;
         }
         h1 {
         padding: 1em;
         margin: 0px;
         }
         .title{
         height: auto;
         color: white;
         background-color: #461D7C;
         }
         footer{
         background-color: #999999;
         color: white;
         text-align: center;
         padding: 20px;
         }
         .col-3{
         background-color: #461D7C;
         color: white;
         }
         .col-left-wrapper {
         margin: 0 auto;
         width: 85%;
         }
         .btn-primary{
         background-color: #FDD023;
         }
         .btn-primary:hover{
         background-color: #D29F13
         }